<a href="https://colab.research.google.com/github/midleone/DI-Bootcamp/blob/main/week4/day4/newds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.decomposition import PCA

In [8]:
df = pd.read_csv('datascience_salaries.csv')

print("First rows:")
print(df.head())

First rows:
   Unnamed: 0       job_title   job_type experience_level       location  \
0           0  Data scientist  Full Time           Senior  New York City
1           2  Data scientist  Full Time           Senior         Boston
2           3  Data scientist  Full Time           Senior         London
3           4  Data scientist  Full Time           Senior         Boston
4           5  Data scientist  Full Time           Senior  New York City

  salary_currency  salary
0             USD  149000
1             USD  120000
2             USD   68000
3             USD  120000
4             USD  149000

In [12]:
scaler = MinMaxScaler()
df['normalized_salary'] = scaler.fit_transform(df[['salary']])

label_encoder = LabelEncoder()
df['experience_level_encoded'] = label_encoder.fit_transform(df['experience_level'])

numeric_columns = df.select_dtypes(include=[float, int]).columns
pca = PCA(n_components=2)
df_pca = pd.DataFrame(pca.fit_transform(df[numeric_columns]), columns=['PC1', 'PC2'])
df = pd.concat([df, df_pca], axis=1)

agg_df = df.groupby('experience_level').agg({'salary': ['mean', 'median'], 'normalized_salary': ['mean', 'median']}).reset_index()

print(agg_df)

  experience_level        salary          normalized_salary
                            mean   median              mean    median
0            Entry  36111.111111  30000.0          0.030864  0.000000
1        Executive  76076.923077  46000.0          0.232712  0.080808
2              Mid  51786.885246  51000.0          0.110035  0.106061
3           Senior  75088.033012  68000.0          0.227717  0.191919